.navbar-toggler-text {
    font-family: $headings-font-family;
    color: $primary;
    margin-right: 1rem;
}
.navbar-toggler-icon {
    background-color: $primary-light;
    background-size: 1.75rem;
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
}