.socials {
    li:not(:last-child) {
        margin-right: .5rem;
    }
}

.social-logo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: $link-transition;
    &:hover {
        background: $secondary;
    }
}

.social-logo-icon {
    height: 1rem;
}