// Bootstrap overrides variables
$primary: #1A2762;
$primary-light: rgba($primary, .11);
$secondary: #81B761;


$font-family-sans-serif: "Abhaya Libre", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Cabin", sans-serif;

// $navbar-light-toggler-icon-bg:     none;
// $navbar-light-toggler-icon-bg:     url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 36"><svg width="24" height="6" viewBox="0 0 24 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0"><title>Rectangle 10 Copy 2</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Restaurant" transform="translate(-1490, -77)" fill="%231A2762"><g id="Group" transform="translate(1477, 47)"><path d="M13.114754,30.635246 C19.6155648,30.635246 24.4236677,30.635246 27.5390625,30.635246 C30.6544573,30.635246 33.7698522,30.635246 36.885247,30.635246 L36.885247,35.245902 L13.114754,35.245902 L13.114754,30.635246 Z" id="Rectangle-10-Copy-2"></path></g></g></g></svg><svg viewBox="0 0 24 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="5" width="24" y="6"><title>Rectangle 10 Copy</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Restaurant" transform="translate(-1490, -69)" fill="%231A2762"><g id="Group" transform="translate(1477, 47)"><rect id="Rectangle-10-Copy" x="13.114754" y="22.131147" width="23.770493" height="4.610656"></rect></g></g></g></svg><svg viewBox="0 0 24 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25" width="24" y="11"><title>Rectangle 10</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Restaurant" transform="translate(-1490, -60)" fill="%231A2762"><g id="Group" transform="translate(1477, 47)"><rect id="Rectangle-10" x="13.114754" y="13.934426" width="23.770493" height="4.610656"></rect></g></g><g transform="translate(1477, 47)"><rect id="Rectangle-10-Copy" x="13.114754" y="22.131147" width="23.770493" height="4.610656"></rect></g></g><g transform="translate(-1490, -77)" fill="%231A2762"><g transform="translate(1477, 47)"><path d="M13.114754,30.635246 C19.6155648,30.635246 24.4236677,30.635246 27.5390625,30.635246 C30.6544573,30.635246 33.7698522,30.635246 36.885247,30.635246 L36.885247,35.245902 L13.114754,35.245902 L13.114754,30.635246 Z" id="Rectangle-10-Copy-2"></path></g></g></svg></svg>');
$navbar-toggler-font-size:          1.5rem;
$navbar-toggler-focus-width: 0;
$navbar-light-icon-color: $primary;

$navbar-padding-y: 2rem;

// scss-docs-start container-max-widths
//Override to match the design
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) ;
// scss-docs-end container-max-widths